---
---
.header_wrapper
{
    
    background-color: powderblue;
    margin: 0;
}
.curtab
{
    background-color: white;
    border-top-style: round;
    border-left-style: round;
    border-right-style: round;
    border-top-width: 1px; 
    border-color: black;
}
body
{
    background-color: white;
}
.header_name
{
    font-family: 'Lucida Console';
    margin-top: 0px;
    width: 100px;
}
.tab_bar
{
    margin: 0px;
}
.email
{
    margin: 0px;
}
.img
{
    max-width: 500px;
    height: auto;
}
body
{
    font: 300 21px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}